// set custom hex colors
$siteBgColorCustom: #faedf4;
$sidebarBgColorCustom: #e8c9d8;
$textColorCustom: #3f001e;
$sidebarTextColorCustom: #3f001e;
$headlineColorCustom: #3f001e;
$headingColorCustom: #3f001e;
$bodyLinkColorCustom: #80003e;
$navLinkColorCustom: #80003e;
$sidebarLinkColorCustom: #80003e;
$footerTextColorCustom: #918f8d;
$buttonTextColorCustom: #f7f7f4;
$buttonHoverTextColorCustom: #f9f9f8;
$buttonBgColorCustom: #80003e;
$buttonHoverBgColorCustom: #e8c9d8;
$borderColorCustom: #c4beb9;
// https://colors.muz.li/palette/5a002b/3f001e/ffbfde/ff80bd/ff80bd
